@font-face {
  font-family: 'EB Garamond';
  src:
  local('ebgaramondmedium'),
  url(../fonts/ebgaramondmedium.ttf) format('ttf'),
  url(../fonts/ebgaramondmedium.woff) format('woff'),
  url(../fonts/ebgaramondmedium.woff2) format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src:
  local('ebgaramondregular'),
  url(../fonts/ebgaramondregular.ttf) format('ttf'),
  url(../fonts/ebgaramondregular.woff) format('woff'),
  url(../fonts/ebgaramondregular.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
  local('interregular'),
  url(../fonts/interregular.ttf) format('ttf'),
  url(../fonts/interregular.woff) format('woff'),
  url(../fonts/interregular.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
}